.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
**/*.quarto_ipynb

# Project folders not tracked
Archive/
/Data/Raw/

#specific data
/Data/Analyzed/MapDataSummary.csv
/Data/Analyzed/MapDataSummary.rds